#album-grid-container {
    img {
        border: 1px solid #ccc;
        height: 65px;
        width: 65px;
        float: left;
        margin: 5px;
    }

    .wrapper {
        width: 234px;
        overflow: hidden;
    }

    .marquee {
        padding-top: 3px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        clear: both;
        color: #555;
        font-size:11px;
        height: 16px;
        width:500px;
    }
    .gridit-message-content {
        position:relative;
    }

    .album-grid {
        margin-left: 2px;
    }

    .album-grid-container {
        display: inline-block;
        width: 265px;
    }
}
